@charset "utf-8";
/* CSS Document */

*{ padding: 0; margin: 0;}
.center{
	width: 1350px;
	margin: 0 auto;
}
#nav{
	padding-top: 20px;
	background-color: #000000;
	height: 70px;
}
#href a:hover{
	background-color:#171717;
}
#header{
	margin-top: -20px;
	width: 100%;
	height: 530px;/*+350*/
	background-color: #1B6166;
	padding-top: 70px;
}
#header_logo{
	height: 210px;
	padding-top: 30px;
	padding-left: 50px;
}
#header_txt{
	padding-top: 20px;
	height: 210px;
}
#header_txt ul li{
	list-style-type: none;
	margin: 10px 0;
}
#header_txt ul li a{
	color: aliceblue;
}
#header_txt ul li a:hover{
	text-decoration: none;
}
.container-fluid{
	padding: 0 70px;
}
.con{
	padding: 0 10px;
}
.title{
	color: #1B6166;
	border-bottom: 1px solid #DCD6D0;
	margin-bottom: 20px;
}
.con_left{
	padding: 0 20px;
}
.con_left_top_con_con {
	width: 47%;
	height: 139px;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	background-color: #1B6166;
}
.con_left_top_con_con span{
	line-height: 50px;
	width: 190px;
	height: 50px;
	float: right;
}
.con_left_top_con_con span a{
	color: aliceblue;
}
.con_left_top_con_con span a:hover{
	text-decoration: none;
}
.con_right{
	background-color:#f3f3f3;
	padding: 20px;
	line-height: 50px;
}
.con_right ul li{
	list-style-type: none;
	border-bottom: 1px solid #DCD6D0; 
}
.footer_top{
	width: 100%;
	height: 250px;
	background-color: #1B6166;
	padding: 20px 80px;
}
.footer_bottom{
	width: 100%;
	height: 280px;
	background-color:#151210;
	padding: 20px 80px;
}
.footer_top_con {
	height: 100%;
	border-right: 1px dotted #819472;
	background-color: #1B6166;
}
.footer_bottom_con {
	height: 100%;
	border-right: 1px dotted #819472;
	background-color:#151210;
	color: aliceblue;
}
.footer_top h4, .footer_bottom h4{
	color: aliceblue;
}
.footer_top ul li, .footer_bottom ul li{
	list-style-type: none;
}
.footer_top ul li a, .footer_bottom ul li a{
	color:#F5EFE9;
	font-size: 12px;
}
.footer_top ul li a:hover, .footer_bottom ul li a:hover{
	text-decoration: none;
}
.carousel_right {
	text-align: center;
	width: 35%;
	height:428px;
	float: left;
	background-color: #317D7E;
	padding: 30px;
	color: aliceblue;
	font-weight: 100;
}

.top_nav {
	width: 100%;
	height: 70px;
	position: fixed;
	_position:absolute;
	z-index: 9999;
	background-color:#000000;
}

.footer_top_bg {
	background-color: #1B6166;
}

.footer_bottom_bg {
	background-color: #151210;
}
